<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Step Form</title>
    <link rel="stylesheet" href="form.css">
</head>

<body>
    <form id="multiStepForm">
        <!-- generate steps -->
        <fieldset class="step">
            <legend>Step 3</legend>
            <!-- generate fieldset -->
            <button type="button" class="prev">Previous</button>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
    <script src="form.js"></script>
</body>

</html>